/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.jump {
   animation: jump 1s ease-in infinite;
}
@keyframes jump {
   0% {
      transform: translateY(0);
   }
   80% {
      transform: translateY(1rem);
   }
   100% {
      transform: translateY(0);
   }
}